<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Edit the Pack</h1>
<form action='/animals/<%= animal._id %>' method='post'>
	Name of Pack:
	<input type="text" name="name" value="<%= animal.name %>">
	Color of Animal Pack:
	<input type="text" name="color" value="<%= animal.color %>">
	Number of animals in Pack:
	<input type="integer" name="pack_size" value="<%= animal.pack_size %>">
	<input type="submit" value="Revise Pack">
</form>
</body>
</html>