<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Create a New Pack</h1>
<form action='/animals' method='post'>
	Name of Pack:
	<input type="text" name="name">
	Color of Animal Pack:
	<input type="text" name="color">
	Number of animals in Pack:
	<input type="integer" name="pack_size">
	<input type="submit" value="Create Pack">
</form>
</body>
</html>